* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
.header {
  background-color: brown;
  color: white;
}

/* section */
.container-main {
  background-image: url(./img/bg-inicio.webp);
  background-size: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
}
.container-section {
  width: 50%;
  padding: 56px 136px;

}
.container-div-texto h1 {

}

.container-formulario {
 display: flex;
}
.botao {
background-color: red;
color:white;  
}
/* footer */
