* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: helvetica, sans-serif;
  
}

/* header */

.container-cabecalho {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  
}

.logo-tipo img {
  width: 150px;
}

.container-div-cabecalho {
  width: 80%;
  /* background-color: #ea1d2c; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
  /* flex-wrap: wrap; */
}

.div-cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.nav-cabecalho ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.nav-cabecalho a {
  color: #3e3e3e;
  font-size: 1rem;
  text-decoration: none;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  /* flex-wrap: wrap;  */
}

#button-0 {
  color: #ea1d2c;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}
.button-1 {
  background: #ea1d2c;
  color: #fff;
  padding: 15px 41px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
}

.button-1:hover {
  background: #e76f77;
  transition: 0.2s ease;
}

/* section */

.main-imagem {
  position: relative;
  padding-bottom: 400px;
}

.main-imagem::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(./img/bg-inicio.webp);
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
}

.main-imagem::after {
  content: "";
  width: 100%;
  height: 200px;
  background-color: #ebebeb;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
}

.vazio {
  width: 100%;
  height: 120px;
  background-color: #cecece;
}

.section-inicio {
  display: flex;
  justify-content: center;
  
}

.div-total {
  width: 40%;
  z-index: 5;
}

.div-inicio-texto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 250px;
}

.div-inicio-texto h1 {
  font-size: 3rem;
}
.div-inicio-texto p {
  font-size: 1.125rem;
}
.div-inicio-formulario {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 50px;
}

.input-inicio-botao {
  padding-left: 15px;
}
.div-inicio-botao {
  flex-wrap: wrap;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inicio-botao {
  background-color: #ea1d2c;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 6px 6px;
  font-size: 16px;
  height: 48px;
  width: 200px;
}
.botao {
  border-radius: 20px;
  border: none;
  padding: 6px 10px;
  margin: 4px;
}
.botao h2 {
  font-size: 17.5px;
  padding: 12px;
  color: #717171;
}

.input-inicio-botao {
  background-color: #f2f2f2;
  border: none;
  height: 48px;
  width: 360px;
  margin-right: 25px;
  border-radius: 0 5px 5px 0;
  padding: 15px;
  font-size: 15px;
  outline: none;
}
.lupa {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ea1d2c;
  padding-left: 12px;
  border-radius: 5px 0 0 5px;
}

.ifome {
  color: #ea1d2c;
}

/* melhores restaurantes */

.section-mr {
  margin: 100px 100px 100px 100px;
  font-family: sans-serif;
  font-size: 15px;
}

.mr-h2 {
  padding-bottom: 20px;
}
.div-mr-todo{
  display: flex;
  flex-direction: column;
}
.div-mr-caixa-1 {
  border: 1px solid #bcb9b9;
  height: 138px;
  width: 250px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  position: relative;
  /* margin: 12px; */
  
}

.div-mr-img-texto {
  display: flex;
  align-items: center;
  height: 200px;
  width: 100%;
  padding: 20px 16px;
  
}
.div-mr-img-texto p {
  color: #827f7f;
  font-size: 15px;
  padding-top: 5px;
}
.mr-imagem {
  height: 46px;
  width: 46px;
  border-radius: 50%;
}

.verificado img {
  height: 15px;
  width: 15px;
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  
}

.div-mr-texto {
  padding-left: 10px;
  font-size: 15px;
}

.div-mr-todas-caixas {
  display: flex;
  justify-content: row;
  gap: 12px;



/* tem fome de quê */
.container-section-foodlover {
  /* background-color: #ea1d2c; */
  display: flex;
  justify-content: center;
}
.container-div-foodlover {
  /* background-color: #717171; */
  width: 80%;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #cdc4c4;
  padding-top: 6rem;
}
.div-foodlover {
  padding-left: 4rem;
}
.div-foodlover h2 {
  font-size: 34px;
  width: 40%;
  padding-bottom: 2rem;
}
.div-foodlover p {
  font-size: 17px;
  /* background-color: #ea1d2c; */
  width: 60%;
  color: #717171;
}
.div-foodlover button {
  background: #ea1d2c;
  color: #fff;
  padding: 15px 17px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
}
.botao-foodlover1 {
  padding-top: 1rem;
}

/* footer */
.section-footer {
  /* background-color: #ea1d2c; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 6rem;
}
.div-footer1 {
  width: 80%;
  display: flex;
}
.div-ifome-pai {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  padding-right: 10rem;
}
.div-ancoras-ifome {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 3rem;
}
.div-ancoras-ifome a {
  color: #717171;
  font-size: 20px;
}
.div-descubra-pai {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  padding-right: 2.5rem;
}
.div-ancoras-descubra {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.div-ancoras-descubra a {
  color: #717171;
  font-size: 20px;
}
.div-social {
  display: flex;
  padding-bottom: 25px;
}
.div-social p {
  font-size: 20px;
}
.div-imagens-social {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.div-imagens-social img {
  width: 45px;
}
/* parte 2 da footer */
.section-footer2 {
  display: flex;
  justify-content: center;
  font-size: 13px;
  color: #717171;
}
.div-footer2 {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #b0adad;
}
.div-texto img {
  width: 100px;
}
.section-footer2 p {
  padding-right: 3rem;
}
.div-ancoras-footer2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.div-ancoras-footer2 a {
  color: #717171;

  gap: 10px;
  width: 130px;
}
